<app-navbar-usuario></app-navbar-usuario>
<header>
  <section class="info-header">
    <h1>Artistas</h1>
    <section class="info-body">
      <div class="row">
        <div class="col-sm-6">
          <div id="reproducciones" class="card">
            <div class="card-body">
              <h5 class="card-title">3 Artistas más populares</h5>
              <ul>
                <li>Bad Bunny, Drake y J Balvin</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</header>
<br>
<br>
<section class="info-generos">
  <h1>Canciones</h1>
  <section class="cards">
    <div class="row">
      <div class="col-sm-6">
        <div id="reproducciones" class="card-generos">
          <div class="card-body-generos">
            <h5 class="card-title">Canciones más populares</h5>
            <ul>“Blinding Lights” by The Weeknd
              “Dance Monkey” by Tones And I 
              “The Box” by Roddy Ricch </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="buttons">
  <div class="button-consultar">
    <input type="submit" value="Consultar" class="btn" (click)="mostrar()">
  </div>
</section>
<section class="tabla-artistas">
  <div class="tabla-datos">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">popularidad</th>
          <th scope="col">Seguidores</th>
          <th scope="col">Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let artistas of spotifyArtistas$'>
          <td>{{artistas.id}}</td>
          <td>{{artistas.name}}</td>
          <td>{{artistas.type}}</td>
          <td>{{artistas.popularity}}</td>
          <td>{{artistas.followers}}</td>
          <td>{{artistas.uri}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>