<nav id="navprincipal" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/landingPage"><i class="fab fa-spotify"></i>Spotify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
  </div>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/registro"> Regístrarse <i class="icon ion-md-add"></i></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://accounts.spotify.com/authorize?client_id=fc7aaf9de74d4f9a8a777caeadaefd1c&scopes=user-read-email&scope=user-read-private%20user-read-email&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fuser"> Iniciar sesion con spotify<i class="icon ion-md-add"></i></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/login"> Iniciar Sesión <i class="icon ion-md-person"></i></a>
    </li>
  </ul>
</nav>
