
  <div class="row">
      <div class="col-md-6 mx-auto m-5">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img class="text-center" src="../../assets/spotifyLogo.png" alt="" width="140" >
            </nav>
        
          <div class="card">
              <div class="card-body">
                    <h3 class="text-center text-white">Iniciar Sesión</h3>
                  <form>
                      <div class="form-group">
                          <h5 class="text-white">Correo electrónico:</h5>
                          <input type="email" class="form-control"/>
                      </div>
                    <div class="form-group">
                        <h5 class="text-white">Contraseña:</h5>
                        <input type="password" class="form-control"/>
                    </div>
                    <div class="text-center text-success">
                        <p><a class="text-success" href="/#">¿Has olvidado tu contraseña?</a></p>
                        <p>¿No tienes cuenta? <a class="text-success" href="/#"> Regístra tu cuenta</a></p>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success btn-lg">Iniciar</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
