<app-navbar-admin></app-navbar-admin>
<header>
  <section class="info-header">
    <h1>Artistas</h1>
    <section class="info-body">
      <div class="text">
        <h4>Los mejores Artistas solo en Spotify</h4>
        <h5>Echa un vistazo a los artistas disponibles dentro de la plataforma</h5>
      </div>
    </section>
  </section>
</header>

<section class="buttons">
  <div class="button-consultar">
    <input type="submit" value="Consultar" class="btn">
  </div>
  <div class="textID">
    <input id="id" [(ngModel)]="id" type="text" class="form-control id" name="id"
      placeholder="Ingresa el ID">
  </div>
  <div class="button-eliminarbyID">
    <input type="submit" value="Eliminar" class="btn">
  </div>
</section>

<section>
  <div class="tabla-datos">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Genero</th>
          <th scope="col">Artista</th>
          <th scope="col">Canción</th>
          <th scope="col">Dnce</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

