.menu-admin{
    height: 300px;
    margin: auto;
    font-weight: 200;
    width: 100%;
    padding: 10px;
}


.menu-admin nav{
    background: hsla(122, 40%, 45%, 0.603);
    padding: 10px 10px;
    margin: auto;
}

.menu-admin nav a{
    color: #ffffff;
    font-weight: lighter;
    font-size: 15px;
}

.tabla-datos{
    height: 400px;
    padding: 50px;
    margin: auto;
    margin-left: auto; 
    width: 60%;
    font-size: 16px;
}

.tabla-datos table{
    text-align: center;
    align-items: flex-end;
}