<app-navbar-admin></app-navbar-admin>
<section>
   <div class="tabla-datos">
      <table class="table table-bordered table-striped">
         <thead>
           <tr>
             <th scope="col">Numero</th>
             <th scope="col">Genero</th>
             <th scope="col">Artista</th>
             <th scope="col">Canción</th>
             <th scope="col">Dnce</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Mark</td>
             <td>Otto</td>
             <td>@mdo</td>
           </tr>
         </tbody>
       </table>
   </div>
</section>