<app-navbar-admin></app-navbar-admin>
<header>
  <section class="info-header">
    <h1>Artistas</h1>
    <section class="info-body">
      <div class="text">
        <h4>Los mejores Artistas solo en Spotify</h4>
        <h5>Echa un vistazo a los artistas disponibles dentro de la plataforma</h5>
      </div>
    </section>
  </section>
</header>

<section class="buttons">
  <div class="button-consultar">
    <input type="submit" value="Consultar" class="btn" (click)="mostrar()">
  </div>
</section>

<section class="tabla-artistas">
  <div class="tabla-datos">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">popularidad</th>
          <th scope="col">Seguidores</th>
          <th scope="col">Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let artistas of spotifyArtistas$'>
          <td>{{artistas.id}}</td>
          <td>{{artistas.name}}</td>
          <td>{{artistas.type}}</td>
          <td>{{artistas.popularity}}</td>
          <td>{{artistas.followers}}</td>
          <td>{{artistas.uri}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

