<section>
    <div class="row no-gutters">
       <div class="menu-admin">
          <nav class="navbar navbar-expand-lg ">
             <a class="navbar-brand"><i class="fab fa-spotify"></i> Bienvenido</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>   
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                   <a class="nav-link" href="#" ><i class="icon ion-md-contact"></i>  Perfil <span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Ordenar
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="#">A - Z</a>
                     <a class="dropdown-item" href="#">Z - A</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Fecha</a>
                   </div>
                 </li>
               </ul>
               <li><a class="nav-link" routerLink="/landingPage">Cerrar sesión   <i class="icon ion-md-home"></i></a></li>  
             </div>
           </nav>
       </div>
    </div> 
 </section>
